@model ConsommiTounsi.Models.User.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div id="home_vertical_menu" class="container custom_container menu_slider ">
    <div class="row ">
        <div class="col-lg-3 vertical_menu ">
            <div class="v_menu bg-white rounded">
                <div id="mySidenav" class="sidenav 	">
                    <div class="close-nav d-xl-none d-lg-none">
                        <span class="categories">Category</span>
                        <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg=""><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg><!-- <i class="fas fa-times"></i> Font Awesome fontawesome.com --></a>
                    </div>
                    <ul class="vertical_main_menu h_menu navbar navbar-nav">
                        <li class="level-1 font-weight-bolder"><a href="@Url.Action("Details", "User")"><i class="fas fa-user-circle"></i>Profile</a></li>
                        <li class="level-1 font-weight-bolder"><a href="@Url.Action("Addresses", "User")"><i class="fas fa-address-book"></i>Addresses</a></li>
                        <li class="level-1 font-weight-bolder"><a href="@Url.Action("Edit", "User")"><i class="fas fa-book"></i>Edit profile</a></li>
                        <li class="level-1 font-weight-bolder"><a href="@Url.Action("Password", "User")"><i class="fas fa-unlock-alt"></i>Change password</a></li>
                        <li class="level-1 font-weight-bolder"><a href="@Url.Action("Logout", "User")"><i class="fas fa-times"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Registration_page" class="Registration-page animate__animated animate__fadeInUp">
    <div class="container custom_container">
        <h3 class="text-center"> Profile </h3>
        <div id="Registration" class="page-content card card-block p-3 p-sm-4">
            <div class="d-flex">
                <div class="col-md-6 pl-0">
                    <span class="font-weight-bolder text-danger">First name</span>
                    <h5 class="font-weight-bolder" style="text-transform:none">@Html.DisplayFor(model => model.firstName)</h5>
                </div>

                <div class="col-md-6 pr-0">
                    <span class="font-weight-bolder text-danger">Last name</span>
                    <h5 class="font-weight-bolder" style="text-transform:none">@Html.DisplayFor(model => model.lastName)</h5>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <span class="font-weight-bolder text-danger">Username</span>
                <h5 class="font-weight-bolder" style="text-transform:none">@Html.DisplayFor(model => model.username)</h5>
            </div>
            <hr />
            <div class="form-group">
                <span class="font-weight-bolder text-danger">Email</span>
                <h5 class="font-weight-bolder" style="text-transform:none">@Html.DisplayFor(model => model.email)</h5>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-md-6 pl-0">
                    <span class="font-weight-bolder text-danger">Birth Date</span>
                    <h5 class="font-weight-bolder" style="text-transform:none"> @Model.birthDate.ToString("dd/MM/yyyy") </h5>
                </div>

                <div class="col-md-6 pr-0">
                    <span class="font-weight-bolder text-danger">Phone Number</span>
                    <h5 class="font-weight-bolder" style="text-transform:none">@Html.DisplayFor(model => model.phoneNumber)</h5>
                </div>
            </div>
            <hr />
            <div class="d-flex">
                <div class="col-md-6 pl-0">
                    <span class="font-weight-bolderer text-danger">Social Title</span>
                    <h5 class="font-weight-bolder" style="text-transform:none">@Html.Partial("_EnumName", Model.gender) </h5>
                </div>

                <div class="col-md-6 pr-0">
                    <span class="font-weight-bolder text-danger">Civil State</span>
                    <h5 class="font-weight-bolder" style="text-transform:none">@Html.Partial("_EnumName", Model.civilState)</h5>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <span class="font-weight-bolder text-danger">Occupation</span>
                <h5 class="font-weight-bolder" style="text-transform:none">@Html.Partial("_EnumName", Model.occupation)</h5>
            </div>
        </div>
    </div>
</div>