@model ConsommiTounsi.Models.User.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div id="Registration_page" class="Registration-page animate__animated animate__fadeInUp">
    <div class="sp_header bg-white p-3">
        <div class="container custom_container ">
            <div class="row ">
                <div class="col-12 ">
                    <ul>
                        <li class="d-inline-block font-weight-bolder">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="d-inline-block hr_ font-weight-bolder">@Html.ActionLink("Register", "Register", "User")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom_container">
        <h3 class="text-center"> Register </h3>
        <div id="Registration" class="page-content card card-block p-3 p-sm-4  ">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <p>Already have an account? @Html.ActionLink("Log in instead!", "Login", "User")</p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="d-flex">
                    <div class="form-group col-md-6 pl-0 ">
                        @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "font-weight-bolder" })
                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-6 pr-0 ">
                        @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "font-weight-bolder" })
                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "font-weight-bolder" })
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "font-weight-bolder" })
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "font-weight-bolder" })
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.birthDate, htmlAttributes: new { @class = "font-weight-bolder" })
                    @Html.EditorFor(model => model.birthDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birthDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "font-weight-bolder" })
                    @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group text-left">
                    <label class="font-weight-bolder">Social title</label><br>
                    <span class="form-check">
                        @Html.RadioButtonFor(model => model.gender, ConsommiTounsi.Models.User.Gender.MALE, new { @class = "form-check-input", @id = "male", @checked = true })
                        <label class="form-check-label" for="male">Male</label>
                    </span>
                    <span class="form-check">
                        @Html.RadioButtonFor(model => model.gender, ConsommiTounsi.Models.User.Gender.FEMALE, new { @class = "form-check-input", @id = "female" })
                        <label class="form-check-label" for="female">Female</label>
                    </span>
                    <span class="form-check">
                        @Html.RadioButtonFor(model => model.gender, ConsommiTounsi.Models.User.Gender.OTHER, new { @class = "form-check-input", @id = "other" })
                        <label class="form-check-label" for="other">Other</label>
                    </span>
                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                </div>

                <div class="form-group text-left">
                    <label class="font-weight-bolder">Civil State</label><br>
                    <span class="form-check">
                        @Html.RadioButtonFor(model => model.civilState, ConsommiTounsi.Models.User.CivilState.SINGLE, new { @class = "form-check-input", @id = "single", @checked = true })
                        <label class="form-check-label" for="single">Single</label>
                    </span>
                    <span class="form-check">
                        @Html.RadioButtonFor(model => model.civilState, ConsommiTounsi.Models.User.CivilState.MARRIED, new { @class = "form-check-input", @id = "married" })
                        <label class="form-check-label" for="married">Married</label>
                    </span>
                    <span class="form-check">
                        @Html.RadioButtonFor(model => model.civilState, ConsommiTounsi.Models.User.CivilState.DIVORCED, new { @class = "form-check-input", @id = "divorced" })
                        <label class="form-check-label" for="divorced">Divorced</label>
                    </span>
                    @Html.ValidationMessageFor(model => model.civilState, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.occupation, htmlAttributes: new { @class = "font-weight-bolder" })
                    @Html.EnumDropDownListFor(model => model.occupation, null, new { @class = "select-menu form-select d-none d-sm-block" })
                    @Html.ValidationMessageFor(model => model.occupation, "", new { @class = "text-danger" })
                </div>
                <div><button id="clearButton" type="reset" class="btn btn-primary rese float-left mt-3">reset</button><input type="submit" name="submit" class="btn btn-primary mt-3 float-right" value="Register"></div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}