@model ConsommiTounsi.Models.Payment.Cart

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Details du panier";
    var items = Model.Items.ToList();
    var subTotal = items.Sum(i => i.Product.Price * i.Quantity);
    var taxes = items.Sum(i => i.Product.Taxes.Sum(t => t.TaxValue));
    var total = subTotal + taxes;
}

<div id="cart_page" class="cart-page animate__animated animate__fadeInUp">


    <div class="sp_header bg-white p-3 ">
        <div class="container custom_container ">
            <div class="row ">
                <div class="col-12 ">
                    <ul>
                        <li class="d-inline-block font-weight-bolder">
                            <a href="/">Accueil</a>
                        </li>
                        <li class="d-inline-block hr_ font-weight-bolder">
                            <a href="/Cart/Details">Details du panier</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @*<h1>SubTotal: @subTotal</h1>
        <h1>Taxes: @taxes</h1>
        <h1>Total: @total</h1>*@

    <div class="container custom_container ">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="card">

                    <div class="card-header cart_header bg-white">
                        <div class="card-title mb-0">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="mb-0"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Votre Panier</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body cart_body">
                        <div class="row">
                            @foreach (var item in items)
                            {
                                <div class="col-12 col-md-6 pr-0">
                                    <div class="d-flex">
                                        <div class=" col-xl-4 col-lg-5 col-md-4 col-4 px-0">
                                            <a href="#">
                                                <img src="@item.Product.Picture"
                                                     class="fst-image mx-auto d-block img-fluid" alt="@item.Product.Name">
                                            </a>
                                        </div>
                                        <div class=" col-xl-8 col-lg-7 col-md-8 col-8 pr-0">
                                            <h4 class="product-name font-weight-bold mb-2 mb-sm-3 mb-xl-3 mt-sm-2 mt-md-2">
                                                <a href="#">@item.Product.Name</a>
                                            </h4>
                                            <div>
                                                <span class="font-weight-bolder price">@item.Product.Price TND</span>
                                                @*<del class="text-muted">$100.00</del>*@
                                            </div>
                                            @*<div class="my-1 f_13">
                                                    <span>size:</span>
                                                    <span>s</span>
                                                </div>
                                                <div class="f_13">
                                                    <span>color:</span>
                                                    <span>white</span>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-4">
                                    <div class="d-flex">
                                        <div class="col-md-3 col-sm-4 col-5 text-left text-md-right my-2 ">
                                            <span class="font-weight-bold">
                                                @{
                                                    var itemSubTotal = item.Quantity * @item.Product.Price;
                                                }
                                                @itemSubTotal TND
                                            </span>
                                        </div>
                                        <div class="col-md-5 col-sm-4 col-5">
                                            <input id="@item.Id" min="1" type="number" class="form-control border" placeholder="0"
                                                   value="@item.Quantity">
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-2 mt-1 text-right text-md-left">
                                            <button class="deleteBtn btn btn-warning" href="#"
                                                    onclick="updateItemHandler(@item.Id)">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-2 mt-1 text-right text-md-left">
                                            <button class="deleteBtn btn btn-danger"
                                                    data-toggle="modal" data-target="#deleteModal" href="#"
                                                    onclick="deleteItemHandler(@item.Id)">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <hr>
                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 col-sm-4">
                                <div class="my-2 font-weight-bold">
                                    <span>Totale:</span>
                                    <span>@total TND</span>
                                </div>
                            </div>
                            <div class="col-12 offset-sm-4 col-sm-4">
                                <a href="checkout.html" class="btn btn-success btn-block f_13 font-weight-bold">Passer la commande</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="border rounded bg-white final_payment">
                    <div class="card-body  border-bottom">
                        <p class="text-muted">@items.Count produits</p>
                        <div>
                            <span class="font-weight-bold">Sous-Totale</span>
                            <span class="float-right font-weight-bold">@subTotal TND</span>
                        </div>
                    </div>
                    <div class="card-body ">
                        @*<div>
                                <span class="font-weight-bold">total(tax excl.)</span>
                                <span class="float-right font-weight-bold">$94.00</span>
                            </div>*@
                        <div>
                            <span class="font-weight-bold">taxes</span>
                            <span class="float-right font-weight-bold">@taxes TND</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Est-ce que vous etes sur?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary confirmDelBtn">Oui</button>
            </div>
        </div>
    </div>
</div>
<!-- End Delete Modal -->


@section AdditionalScripts {
    <script>
        var selectedItemId = -1;
        function deleteItemHandler(itemId) {
            selectedItemId = itemId;
            $('#exampleModal').appendTo("body");
        }
        $(".confirmDelBtn").click(function () {

            var url = '/Cart/RemoveItem/' + selectedItemId;

            $.ajax({
                statusCode: {
                    400: function (error) {
                        console.error(error);
                    }
                },
                url,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/Cart/Details");
                }
            });
        })

        function updateItemHandler(itemId) {
            var quantity = $('#' + itemId)[0].value;

            var url = '/Cart/UpdateItem/' + itemId + "?quantity=" + quantity;

            $.ajax({
                statusCode: {
                    400: function (error) {
                        console.error(error);
                    }
                },
                url,
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    window.location.replace("/Cart/Details");
                }
            });
        }  
    </script>
}


