@model ConsommiTounsi.Models.Payment.Cart
@{
    Layout = null;
    var items = Model.Items.ToList();
}





@if (Model != null)
{
    <li class="dropdown d-inline-block">
        <span class="dropdown-toggle" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a href="#">
                <span><svg width="35px" height="35px"><use xlink:href="#cart"></use></svg></span>
                <span class="text-danger d-lg-inline-block d-md-none d-sm-none d-none align-middle font-weight-bolder">
                </span><span class="text-danger price_cart d-md-inline-block align-middle font-weight-bolder">
                    @items.Count
                </span>
            </a>
        </span>
        @if (items != null && items.Count > 0)
        {
            <div class="dropdown-menu s_cart dropdown-menu-right">
                <ul class="shopping-cart p-2 ">
                    @foreach (var item in items)
                    {
                        <li class="pb-2 d-block">
                            <div class="media ">
                                <div>
                                    <a href="#">
                                        <img src="@item.Product.Picture"
                                             class="fst-image img-fluid rounded align-self-center" alt="@item.Product.Name">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 f_15 text-right">
                                        @item.Product.Name
                                        @*<span class="float-right cart_cross">X</span>*@
                                    </h6>
                                    <p class="text-right"><span class="f_13">@item.Quantity x @item.Product.Price TND</span></p>
                                </div>
                            </div>
                        </li>
                    }
                    <li class="d-block text-muted font-weight-bolder p-2 border-bottom">
                        <span class="text-left">Subtotal</span>
                        <span class="float-right">@items.Sum(i => i.Product.Price * i.Quantity) TND</span>
                    </li>
                    <li class="d-block font-weight-bolder pt-2">
                        <span class="text-left">
                            @Html.ActionLink("Cart Details", "Details", "Cart", null,
                           new { style = "height: auto;" })
                        </span>
                        <span class="float-right">
                            @Html.ActionLink("Check Out", "Checkout", "Cart", null,
                           new { style = "height: auto;" })
                        </span>
                    </li>
                </ul>
            </div>
        }
    </li>
}
