@model IEnumerable<ConsommiTounsi.Models.Evenement.Evenement>
@{
    ViewBag.Title = "Event List";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div id="shop_page" class="shop-page animate__animated animate__fadeInUp">


    <div class="sp_header bg-white p-3">
        <div class="container custom_container ">
            <div class="row ">
                <div class="col-12 ">
                    <ul>
                        <li class="d-inline-block font-weight-bolder">

                        </li>
                        <li class="d-inline-block hr_ font-weight-bolder">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-12 text-center mb-3">
            <div id="myBtnContainer">
                <button class="btn btn-danger font-weight-normal "> @Html.ActionLink("Disponible Events ", "EventDisponible", "Evenement")</button>
                <button class="btn btn-danger font-weight-normal"> @Html.ActionLink("Last Events ", "LastEvents", "Evenement")</button>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="sp_vertical_menu" class="container custom_container menu_slider d-xl-none d-lg-none d-md-block my-0">
                <div class="row">
                    <div class="col-lg-3 vertical_menu ">
                        <div class="v_menu bg-white rounded">
                            <div class="cat_menu bg-warning rounded-top">
                                <a class="pe-auto text-uppercase d-md-none d-sm-none d-none d-lg-block font-weight-bold"
                                   data-toggle="collapse" href="#vartical_collapse"
                                   role="button" aria-expanded="false" aria-controls="vartical_collapse">
                                    <i class="fas fa-bars"></i>all categories
                                </a>
                            </div>

                            <div class="navbar-header d-xl-none d-lg-none">
                                <button type="button" class="btn-navbar navbar-toggle" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fas fa-bars"></i></button>
                            </div>
                            <div class="collapse" id="vartical_collapse">
                                <div id="mySidenav" class="sidenav	">
                                    <div class="close-nav d-xl-none d-lg-none">
                                        <span class="categories">Category</span>
                                        <a href="javascript:void(0)" class="closebtn pull-right" onclick="closeNav()"><i class="fas fa-times"></i></a>
                                    </div>

                                    <ul class="vertical_main_menu sp_menu navbar navbar-nav">
                                        <li class="dropdown mega_menu m1_menu level-1 font-weight-bolder">
                                            <a class="dropdown-toggle" href="single-product.html" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-mobile-alt"></i>portfolio&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <ul class="row mx-0">
                                                        <li class="mg_menu col-lg-6 col-md-12 ">
                                                            <ul>
                                                                <li class="h_title text-uppercase font-weight-bold border-bottom">portfolio grid 2</li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="portfolio-grid-2.html">portfolio grid 2</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="portfolio-grid-3.html">portfolio grid 3</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="portfolio-grid-4.html">portfolio grid 4</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="mesonary-grid-2.html">mesonary grid 2</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="mesonary-grid-3.html">mesonary grid 3</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="mesonary-grid-4.html">mesonary grid 4</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mg_menu col-lg-6 col-md-12">
                                                            <ul>
                                                                <li class="h_title text-uppercase font-weight-bold border-bottom">theme elements</li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="title.html">title</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="category-style.html">category</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="services.html">services</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="product-tab.html">product tab</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="multi-slider-product.html">multi slider product</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown level-1 font-weight-bolder">
                                            <a class="dropdown-toggle" href="blog.html" role="button" data-toggle="dropdown" aria-expanded="false"><i class="far fa-hourglass"></i>blog&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item font-weight-bolder" href="blog.html">blog</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="blog-left-sidebar.html">left sidebar</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="blog-right-sidebar.html">right sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown level-1 font-weight-bolder">
                                            <a class="dropdown-toggle" href="shop-left-sidebar.html" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-laptop"></i>shop&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item font-weight-bolder" href="shop-left-sidebar.html">left sidebar</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="shop-right-sidebar.html">right sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown mega_menu level-1 font-weight-bolder">
                                            <a class="dropdown-toggle" href="single-product.html" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-mobile-alt"></i>Smartphone&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <ul class="row mx-0">
                                                        <li class="mg_menu col-lg-4 col-md-12 ">
                                                            <ul>
                                                                <li class="h_title text-uppercase font-weight-bold border-bottom">fashion</li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">Laptop</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">head phone</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">computer</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">chair</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">mobile</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mg_menu col-lg-4 col-md-12">
                                                            <ul>
                                                                <li class="h_title text-uppercase font-weight-bold border-bottom">fashion</li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">Laptop</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">head phone</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">computer</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">chair</a></li>
                                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">mobile</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mg_menu col-lg-4 col-md-12">
                                                            <ul>
                                                                <li>
                                                                    <a href="single-product.html">
                                                                        <img src="~/Content/TmpUserImages/product/deal2.jpg" class="fst-image mx-auto d-block mb-1 img-fluid" alt="deal2">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown level-1 font-weight-bolder">
                                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-laptop"></i>pages&nbsp;<span class="float-right mt-1"><i class="fas fa-angle-down"></i></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item font-weight-bolder" href="about-us.html">about us</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="login.html">login</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="registration.html">registration</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-product.html">single product</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="single-blog.html">single blog</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="cart.html">cart</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="compare.html">compare</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="wishlist.html">wishlist</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="checkout.html">check out</a></li>
                                                <li><a class="dropdown-item font-weight-bolder" href="forgot.html">forgot password</a></li>
                                            </ul>
                                        </li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-tv"></i>TV & Audio</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-headphones-alt"></i>Headphone</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="far fa-clock"></i>Smart watch</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="shop-left-sidebar.html"><i class="far fa-keyboard"></i>Accessories</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-tshirt"></i>Fashion</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-universal-access"></i>Sale and Offers</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="shop-left-sidebar.html"><i class="far fa-keyboard"></i>Accessories</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-tshirt"></i>Fashion</a></li>
                                        <li class="level-1 font-weight-bolder"><a href="single-product.html"><i class="fas fa-universal-access"></i>Sale and Offers</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- v_menu bg-white rounded -->
                    </div> <!-- col-md-3 vertical_menu -->
                </div>
            </div>
        </div>
    </div>
</div>









<div class="container custom_container">
    <div class="row sh_page rounded">
        @foreach (var evenement in Model)
        {
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="card mb-4  animate__animated animate__fadeInUp" data-wow-duration="0.8s" data-wow-delay="0s">

                    <a href="single-blog.html"><img src="~/Content/TmpUserImages/portfolio/portfolio_4.jpg" class="fst-image mx-auto d-block img-fluid rounded" alt="blog_1"></a>
                    <div class="card-body p-0 mt-3">
                        <div class="blog_subtitle">
                            <span class="font-weight-bolder pr-2"><svg class="svg-inline--fa fa-calendar-alt fa-w-14 mr-2" aria-hidden="true" focusable="false" data-prefix="far" data-icon="calendar-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg><!-- <i class="far fa-calendar-alt mr-2"></i> Font Awesome fontawesome.com -->@evenement.eventDate</span>

                            <span class="font-weight-bolder pl-2"><svg class="svg-inline--fa fa-user fa-w-14 mr-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg><!-- <i class="fas fa-user mr-2"></i> Font Awesome fontawesome.com -->@evenement.number/@evenement.maxnumber paricipating</span>
                        </div>
                        <h2 class="card-title mt-3 font-weight-bold"><a>@evenement.eventType</a></h2>
                        <p class="card-text text-muted f_13">

                            <a href="single-blog.html" class="btn btn-primary mt-2 f_13 px-3 py-2 ">participate</a>
                    </div>
                </div>
            </div>
            @*@<del class="text-muted">$100.00</del>*@
        }







        <div class="container custom_container">





        </div>



        <div class="container custom_container">
            <div class="row">
                <div class="col-12">
                    <nav class="float-right mt-5 mt-col-3">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


    </div>
