@model ConsommiTounsi.Models.ViewModels.ProductDetailsViewModel

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = Model.Product.Name;
    var user = Session["user"] as ConsommiTounsi.Models.User.User;
    var ApiBaseAddress = ConsommiTounsi.Utils.HttpClientBuilder.BaseAddress;
    var cartId = Model.Cart == null ? -1 : Model.Cart.Id;
}

@section SearchCategories {
    <select class="select-menu form-select d-none d-sm-block">
        <option value="selected">Les categories</option>
        @foreach (var category in Model.Categories)
        {
            <option value=@category.Id>@category.Name</option>
        }
    </select>
}

<div id="single_product" class="single_product_page animate__animated animate__fadeInUp">

    <div class="sp_header bg-white p-3">
        <div class="container custom_container">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="d-inline-block font-weight-bolder">
                            @Html.ActionLink("Accueil", "Index", "Home")
                        </li>
                        <li class="d-inline-block hr_ font-weight-bolder">
                            @Html.ActionLink("Nos Produits", "Index", "Product")
                        </li>
                        <li class="d-inline-block hr_ font-weight-bolder">
                            @Html.ActionLink(Model.Product.Name, "Details", "Product")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container custom_container sp_pro_container ">
    <div class="row sh_page">
        <div class="col-xl-5 col-md-6 col-12">
            <div id="content" class="page-content">



                <div id="photo-view-container">
                    <div id="photo-display" class="gallery"></div>
                    <div id="left" onclick=leftRight(this)></div>
                    <div id="photo-container-holder">
                        <div id="photo-container" style="margin-left:0;">
                            <div class="photo-holder"><img src="@Model.Product.Picture" onclick=viewPhoto(this) class="photo-item" alt="product_13"></div>
                            <div class="photo-holder"><img src="@Model.Product.Picture" onclick=viewPhoto(this) class="photo-item" alt="product_13"></div>
                        </div>
                    </div>
                    <div id="right" onclick=leftRight(this)></div>
                </div>






            </div>
        </div>
        <div class="col-xl-7 col-md-6 col-12">

            <div class="sp_product_detail">

                <h1 class="font-weight-bold text-uppercase">@Model.Product.Name</h1>

                <span class="sp_price font-weight-bold">@Model.Product.Price TND</span>

                <div class="text-secondary sp_tax">Taxes inclues.</div>

                @*<div class="sp_add_info my-3">
                    <ul>
                        <li class="sku my-2">
                            <span class="text-uppercase font-weight-bolder">sku:</span>
                            <span>5010</span>
                        </li>
                        <li class="availability my-2">
                            <span class="font-weight-bolder">Availability:</span>
                            <span class="p_quantity">1</span>
                            <span>in stock</span>
                        </li>
                    </ul>
                </div>*@

                @*<div class="sp_text">
                    <ul>
                        <li class="my-2">Fashion has been creating well-designed collections since 2010. </li>
                        <li class="my-2">The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-tcollection in which every item is a vital part of a woman's wardrobe. </li>
                    </ul>
                </div>*@

                <div class="sp_rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>

                @*<div id="clockdiv" class="sp_clockdiv">
                    <div class="main_box rounded">
                        <span class="days"></span>
                        <div class="smalltext">Day</div>
                    </div>
                    <div class="main_box rounded">
                        <span class="hours"></span>
                        <div class="smalltext">Hour</div>
                    </div>
                    <div class="main_box rounded">
                        <span class="minutes"></span>
                        <div class="smalltext">Min</div>
                    </div>
                    <div class="main_box rounded">
                        <span class="seconds"></span>
                        <div class="smalltext">Sec</div>
                    </div>
                </div>

                <div class="sp_color my-4">
                    <ul>
                        <li class="font-weight-bold text-uppercase my-2">color:</li>
                        <li class="btn-group btn-group-toggle my-2" data-toggle="buttons">
                            <label class="btn yellow rounded  active">
                                <input class="" type="radio" name="options">
                            </label>
                            <label class="btn black rounded">
                                <input class="" type="radio" name="options">
                            </label>
                        </li>
                    </ul>
                </div>

                <div class="sp_size">
                    <ul>
                        <li class="font-weight-bold text-uppercase my-2">size:</li>
                        <li class="btn-group btn-group-toggle my-2" data-toggle="buttons">
                            <label class="btn size_ rounded  active">
                                <input class="" type="radio" name="options">S
                            </label>
                            <label class="btn size_ rounded">
                                <input class="" type="radio" name="options">M
                            </label>
                            <label class="btn size_ rounded">
                                <input class="" type="radio" name="options">L
                            </label>
                        </li>
                    </ul>
                </div>*@

                @*<div class="sp_about my-3">
                    <span class="sp_comn1"><a href="#" class="font-weight-bolder" data-toggle="modal" data-target="#shippingModal"><i class="fas fa-box-open"></i>shipping</a></span>



                    <span class="sp_comn2"><a href="#" class="font-weight-bolder" data-toggle="modal" data-target="#question_Modal"><i class="far fa-envelope"></i>ask about this product</a></span>

                    <div class="modal fade" id="question_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title " id="exampleModalLabel">shipping</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body que_form">
                                    <h6>have a any question?</h6>
                                    <form>
                                        <div>
                                            <div class="col-12 sp_form pl-0 pb-3">
                                                <textarea class="form-control" rows="3" placeholder="Enter Your Message"></textarea>
                                            </div>
                                            <div class="col-12 sp_form pl-0 pb-3">
                                                <input type="text" class="form-control" placeholder="Enter Your Name">
                                            </div>
                                            <div class="col-12 sp_form pl-0 pb-3">
                                                <input type="email" class="form-control" placeholder="Enter Your Mail">
                                            </div>
                                            <div class="col-12 sp_form pl-0 pb-3 ">
                                                <input type="tel" pattern=".{10}" class="form-control" id="other_number" oninput="check(this)" required placeholder="Enter Your Phone">
                                            </div>
                                            <div class="col-12 sp_form pl-0 pb-3">
                                                <button type="submit" class="btn btn-primary">submit review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>*@

                @if(Session["user"] == null)
            {
                <div>
                    <p>Vous devez etre connectez pour ajouter des produits au cart.</p>
                </div>
            } else
            {
            <div class="sp_counter">
                <div class="sp_c_count1">
                    <div class="number">
                        <!-- <span class="minus">-</span>
            <input type="text" value="1"/>
            <span class="plus">+</span> -->
                        <div class="sp_counter ">

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number p-0"
                                            disabled="disabled" data-type="minus" data-field="quant[1]">
                                        <span class="minus">-</span>
                                    </button>
                                </span>
                                <input id="productCountInput" type="number" name="quant[1]" class="form-control input-number" value="1" min="1" max="100">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number p-0" data-type="plus" data-field="quant[1]">
                                        <span class="plus">+</span>
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <span class="sp_c_count2">
                    <a href="#" class="btn btn-primary primary" onclick="addToCart(@user.id)">Ajouter au Panier</a>
                </span>
            </div>
            }
                

                @*<div class="form-check sp_check my-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">I agree with the terms and conditions </label>
                </div>*@

                @*<div class="sp_buy">
                    <button type="button" class="btn btn-primary primary">buy it now</button>
                </div>*@
                @*<div class="sp_wish_com my-3">
                    <span class="sp_comp1"><a href="#" class="text-uppercase font-weight-bolder " data-toggle="modal" data-target="#wish_Modal"><i class="far fa-heart"></i>add TO WISHLIST</a></span>



                    <span class="sp_comp2"><a href="#" class="text-uppercase font-weight-bolder"><i class="fas fa-tasks"></i>ADD TO COMPARE</a></span>
                </div>*@
                @*<div class="sp_ad_info">
                    <ul>
                        <li class="my-2">
                            <span>vendor:</span><span><a href="#" class="text-muted pl-2">levis</a></span>
                        </li>
                        <li class="my-2">
                            <span>product type:</span><span class="text-muted pl-2">shirt</span>
                        </li>
                        <li class="my-2">
                            <span>barcode:</span><span class="text-muted pl-2">1234321</span>
                        </li>
                        <li class="my-2">
                            <span>tags:</span><span><a href="#" class="text-muted px-2">summer ,</a></span><span><a href="#" class="text-muted ">winter</a></span>
                        </li>
                    </ul>
                </div>*@
                <div class="sp_collapse_block my-4">
                    <div class="accordion" id="collapse_block">
                        <div class="card">
                            <div class="card-header" id="heading_One">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_One" aria-expanded="true" aria-controls="collapse_One">
                                        DESCRIPTION<span class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapse_One" class="collapse show" aria-labelledby="heading_One" data-parent="#collapse_block">
                                <div class="card-body">
                                    <p>@Model.Product.Description</p>     
                                </div>
                            </div>
                        </div>
                        @*<div class="card">
                            <div class="card-header" id="heading_Two">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse_Two" aria-expanded="false" aria-controls="collapse_Two">
                                        ADDITIONAL INFORMATION<span class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_Two" class="collapse" aria-labelledby="heading_Two" data-parent="#collapse_block">
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td class="pr-5">color:</td>
                                                <td>pink</td>
                                            </tr>
                                            <tr>
                                                <td>size:</td>
                                                <td>large</td>
                                            </tr>
                                            <tr>
                                                <td>material:</td>
                                                <td>faberics</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading_Three">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed " type="button" data-toggle="collapse" data-target="#collapse_Three" aria-expanded="false" aria-controls="collapse_Three">
                                        REVIEW<span class="float-right"><i class="fas fa-angle-down"></i></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse_Three" class="collapse" aria-labelledby="heading_Three" data-parent="#collapse_block">
                                <div class="card-body">
                                    <form>
                                        <div class="">
                                            <div class="col-12 sp_form pl-0">
                                                <label class="font-weight-bolder">name:</label>
                                                <input type="text" class="form-control" placeholder="First name">
                                            </div>
                                            <div class="col-12 sp_form pl-0">
                                                <label class="font-weight-bolder">email:</label>
                                                <input type="email" class="form-control" placeholder="Enter Your Mail">
                                            </div>
                                            <div class="col-12 sp_form pl-0">
                                                <label class="font-weight-bolder">title:</label>
                                                <input type="text" class="form-control" placeholder="Review Title">
                                            </div>
                                            <div class="col-12 sp_form pl-0">
                                                <label class="font-weight-bolder">review:</label>
                                                <textarea class="form-control sp_text_area" id="exampleFormControlTextarea1" rows="3" placeholder="Your Review"></textarea>
                                            </div>
                                            <div class="col-12 sp_form pl-0">
                                                <button type="submit" class="btn btn-primary font-weight-bolder">submit review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>*@
                        <div style="width: 100%; height: 200px" id="toastContainer"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts
    {
    <script>



        window.onload = function () {
            // load thumbnails
            photo = document.querySelectorAll('.photo-item');
            photoLength = photo.length;
            for (i = 0; i < photoLength; i++) {
                photoW = photo[i].naturalWidth;
                photoH = photo[i].naturalHeight;
                if (photoW >= photoH) {
                    photo[i].style.height = '100px';
                }
                else {
                    photo[i].style.width = '100px';
                }
            }
            conentW = photoLength * 115;
            document.getElementById('photo-container').style.width = conentW + 'px';

            // load first photo
            firstPhoto = document.querySelectorAll('.photo-item');
            firstPhoto = firstPhoto[0];
            firstPhotoUrl = firstPhoto.src;
            firstPhotoAlt = firstPhoto.alt;
            document.getElementById('photo-display').innerHTML = '<a href="' + firstPhotoUrl + '" id="selected-photo"><img src="' + firstPhotoUrl + '" id="selected-photo" alt=""></a>';
        }


        marginL = 0;
        function leftRight(obj) {
            spaceLeft = document.getElementById('photo-container').style.marginLeft;
            spaceLeft = spaceLeft.replace('px', null);
            spaceLeft = parseInt(spaceLeft);
            step = 300;
            totalLength = document.querySelectorAll('.photo-item').length;
            totalLength *= -115;
            objId = obj.id;
            if (objId == 'left') {
                if (spaceLeft >= -step) {
                    marginL = 0;
                }
                else {
                    marginL += step;
                }
            }
            if (objId == 'right') {
                if (spaceLeft <= totalLength + 500 + step) {
                    marginL = totalLength + 500;
                }
                else {
                    marginL -= step;
                }
            }
            document.getElementById('photo-container').style.marginLeft = marginL + 'px';
        }
        function viewPhoto(obj) {
            objUrl = obj.src;
            objAlt = obj.alt;
            document.getElementById('photo-display').innerHTML = '<a href="' + objUrl + '" id="selected-photo"><img src="' + objUrl + '" id="selected-photo" alt=""></a>';
        }

        function addToCart($event) {
            var productQuantity = parseInt(document.getElementById("productCountInput").value);
            
            var url = '/Cart/AddItem/'
                        + @cartId
                        + '/?productId=' + @Model.Product.Id + '&quantity=' + productQuantity;
            @*var body = {
                productId: @Model.Product.Id,
                productQuantity: productQuantity
            };
            body = JSON.stringify(body);
            console.log(body);*@
            console.log(url);
            //console.log(body)
            $.post(url, null, function (data, status) {
                if (status === 'success') {
                    displayToast(status)
                } else {

                }
                console.log(data);
                console.log(status);
            });
        }

        function displayToast() {
            var html;
            if (status === 'success') {
                html = '<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">' +
                            '<div class="toast-header" >' +
                                '<img src="..." class="rounded mr-2" alt="...">' +
                                '<strong class="mr-auto">Bootstrap</strong>' +
                                '<small>11 mins ago</small>' +
                                '<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                '</button>' +
                            '</div>' +
                            '<div class="toast-body">' +
                                'Hello, world! This is a toast message.' +
                            '</div>' +
                        '</div >';
            } else {
                html = '';
            }
            //select
            document.getElementById('toastContainer').html = html;
            //inject
        }

    </script>

}

